header {
    display: flex;
    flex-direction: column;
}

.search {
    width: 95%;
    padding: 10px;
    border: solid black 1px;
    box-shadow: 0px 1.5px;
    margin-top: 10px;
    align-self: center;
    font-size: 25px;
}

main {
    width: 50%;
    display: flex;
    justify-content: center;
}

.article {
    border: solid black 0.8px;
    border-radius: 10px;
    width: 80%;
    margin-top: 10px;
    box-shadow: 1px 2px;
}

.artBody {
    padding: 20px;
}

.heroImg {
    background-image: url(Hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 25vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.apply {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #0fc5ff;
    color: #0fc5ff;
    text-shadow: black 1px 1px;
    letter-spacing: 1px;
    transition: 0.4s;
    margin-top: 10px;
}

.apply:hover {
    background-color: #0fc5ff;
    color: #fff;
    border: #0fc5ff 1px solid;
    transition: 0.4s;
}

aside {
    width: 50%;
}

.card {
    width: 80%;
    border: 0.8px solid black;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.cardhead {
    display: flex;
    justify-content: space-between;
}

.bookmark:hover {
    width: 35px;
    transition: 0.4s;
    height: 35px;
}

.position {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.org {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    list-style-type: none;
}

.tags {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.tag {
    background-color: #0fc5ff;
    /* border: 0.5px solid black; */
    border-radius: 10px;
    padding: 5px;
}

.cardContainer {
    margin-top: 10px;
    max-height: 80vh;
    overflow-y: auto;
}